<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Подсорт из Китая</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="btn btn-outline-primary" href="http://127.0.0.1:8000/fin/"><h5>Прогноз продаж</h5></a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-outline-warning" href="http://127.0.0.1:8000/analiz"><h5>Анализ продаж</h5></a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-success" href="http://127.0.0.1:8000/"><h5>Подсорт из Китая</h5></a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-outline-primary" href="http://127.0.0.1:8000/analiz_tabl"><h5>Таблицы</h5></a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-outline-success" href="http://127.0.0.1:8000/ostatki"><h5>Остатки на складах</h5></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="col-md-12 text-dark"><h3>Выберите срок подсорта из Китая</h3></div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox16">
                <label class="form-check-label text-success" for="inlineCheckbox16"><h4>На два месяца</h4></label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox17" value="option1">
                <label class="form-check-label text-success" for="inlineCheckbox17"><h4>На три месяца</h4></label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox18" value="option1">
                <label class="form-check-label text-success" for="inlineCheckbox18"><h4>На шесть месяцев</h4></label>
            </div>
            <div>----------------------------------------------------------------------------------------------------------------</div>
            <div class="col-md-12 text-dark"><h3>Выберите категории подсорта из Китая</h3></div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                <label class="form-check-label" for="inlineCheckbox1">Бутылка SL 0.5л</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                <label class="form-check-label text-danger" for="inlineCheckbox2">Бутылка 1л</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                <label class="form-check-label" for="inlineCheckbox3">Шейкер SL черный</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
                <label class="form-check-label text-danger" for="inlineCheckbox4">Шейкер SL 4 цвета</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option5">
                <label class="form-check-label" for="inlineCheckbox5">Полотенце SL</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="option6">
                <label class="form-check-label text-danger" for="inlineCheckbox6">Овощечистка нерж</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox7" value="option7">
                <label class="form-check-label" for="inlineCheckbox7">Планшет 8,5</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox8" value="option8">
                <label class="form-check-label text-danger" for="inlineCheckbox8">Планшет 8,5 цвет</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox9" value="option9">
                <label class="form-check-label" for="inlineCheckbox9">Планшет 10</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox10" value="option7">
                <label class="form-check-label" for="inlineCheckbox10">Планшет 10 цвет</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox11" value="option10">
                <label class="form-check-label text-danger" for="inlineCheckbox11">Планшет 12</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox12" value="option11">
                <label class="form-check-label" for="inlineCheckbox12">Лампа ночник</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox13" value="option12">
                <label class="form-check-label text-danger" for="inlineCheckbox13">Портмоне</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox14" value="option13">
                <label class="form-check-label" for="inlineCheckbox14">Магнитная лампа Baseus</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox15" value="option14">
                <label class="form-check-label text-danger" for="inlineCheckbox15">Магнит Baseus</label>
            </div>
            <div>----------------------------------------------------------------------------------------------------------------</div>
            <div class="col">
                <p class="text-center"><h3>Количество товаров на выбранный период</h3></p>
            </div>
            <div>----------------------------------------------------------------------------------------------------------------</div>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-3">
                    <button onclick="zakaz()" class="btn btn-info">Рассчитать количество</button>
                </div>
                <div class="col-md-3">
                    <button onclick="zakaz_1()" class="btn btn-success">Рассчитать стоимость</button>
                </div>
                <div class="col-md-3">
                </div>
            </div>
        </div>
        <div class="col">
            <form method="post">
                <button class="btn btn-danger" name="action1" value="download">Скачать файл заказа</button>
            </form>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                    <table class="table table-striped">
                        <thead>
                        <tr class="table-success">
                            <th scope="col">Название товара</th>
                            <th scope="col">Заказать шт.</th>
                            <th scope="col">Сумма заказа руб.</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td id="100"><h6>ИТОГО:</h6></td>
                            <td id="200"><h6>0</h6></td>
                            <td id="300"><h6>0</h6></td>
                        </tr>
                        <tr>
                            <td id="1"></td>
                            <td><input class="form-control text-center" type="number"  id="101" value=""></td>
                            <td id="201"></td>
                        </tr>
                        <tr>
                            <td id="2"></td>
                            <td><input class="form-control text-center" type="number"  id="102" value=""></td>
                            <td id="202"></td>
                        </tr>
                        <tr>
                            <td id="3"></td>
                            <td><input class="form-control text-center" type="number"  id="103" value=""></td>
                            <td id="203"></td>
                        </tr>
                        <tr>
                            <td id="4"></td>
                            <td><input class="form-control text-center" type="number"  id="104" value=""></td>
                            <td id="204"></td>
                        </tr>
                        <tr>
                            <td id="5"></td>
                            <td><input class="form-control text-center" type="number"  id="105" value=""></td>
                            <td id="205"></td>
                        </tr>
                        <tr>
                            <td id="6"></td>
                            <td><input class="form-control text-center" type="number"  id="106" value=""></td>
                            <td id="206"></td>
                        </tr>
                        <tr>
                            <td id="7"></td>
                            <td><input class="form-control text-center" type="number"  id="107" value=""></td>
                            <td id="207"></td>
                        </tr>
                        <tr>
                            <td id="8"></td>
                            <td><input class="form-control text-center" type="number"  id="108" value=""></td>
                            <td id="208"></td>
                        </tr>
                        <tr>
                            <td id="9"></td>
                            <td><input class="form-control text-center" type="number"  id="109" value=""></td>
                            <td id="209"></td>
                        </tr>
                        <tr>
                            <td id="10"></td>
                            <td><input class="form-control text-center" type="number"  id="110" value=""></td>
                            <td id="210"></td>
                        </tr>
                        <tr>
                            <td id="11"></td>
                            <td><input class="form-control text-center" type="number"  id="111" value=""></td>
                            <td id="211"></td>
                        </tr>
                        <tr>
                            <td id="12"></td>
                            <td><input class="form-control text-center" type="number"  id="112" value=""></td>
                            <td id="212"></td>
                        </tr>
                        <tr>
                            <td id="13"></td>
                            <td><input class="form-control text-center" type="number"  id="113" value=""></td>
                            <td id="213"></td>
                        </tr>
                        <tr>
                            <td id="14"></td>
                            <td><input class="form-control text-center" type="number"  id="114" value=""></td>
                            <td id="214"></td>
                        </tr>
                        <tr>
                            <td id="15"></td>
                            <td><input class="form-control text-center" type="number"  id="115" value=""></td>
                            <td id="215"></td>
                        </tr>
                        <tr>
                            <td id="16"></td>
                            <td><input class="form-control text-center" type="number"  id="116" value=""></td>
                            <td id="216"></td>
                        </tr>
                        <tr>
                            <td id="17"></td>
                            <td><input class="form-control text-center" type="number"  id="117" value=""></td>
                            <td id="217"></td>
                        </tr>
                        <tr>
                            <td id="18"></td>
                            <td><input class="form-control text-center" type="number"  id="118" value=""></td>
                            <td id="218"></td>
                        </tr>
                        <tr>
                            <td id="19"></td>
                            <td><input class="form-control text-center" type="number"  id="119" value=""></td>
                            <td id="219"></td>
                        </tr>
                        <tr>
                            <td id="20"></td>
                            <td><input class="form-control text-center" type="number"  id="120" value=""></td>
                            <td id="220"></td>
                        </tr>
                        <tr>
                            <td id="21"></td>
                            <td><input class="form-control text-center" type="number"  id="121" value=""></td>
                            <td id="221"></td>
                        </tr>
                        <tr>
                            <td id="22"></td>
                            <td><input class="form-control text-center" type="number"  id="122" value=""></td>
                            <td id="222"></td>
                        </tr>
                        <tr>
                            <td id="23"></td>
                            <td><input class="form-control text-center" type="number"  id="123" value=""></td>
                            <td id="223"></td>
                        </tr>
                        <tr>
                            <td id="24"></td>
                            <td><input class="form-control text-center" type="number"  id="124" value=""></td>
                            <td id="224"></td>
                        </tr>
                        <tr>
                            <td id="25"></td>
                            <td><input class="form-control text-center" type="number"  id="125" value=""></td>
                            <td id="225"></td>
                        </tr>
                        <tr>
                            <td id="26"></td>
                            <td><input class="form-control text-center" type="number"  id="126" value=""></td>
                            <td id="226"></td>
                        </tr>
                        <tr>
                            <td id="27"></td>
                            <td><input class="form-control text-center" type="number"  id="127" value=""></td>
                            <td id="227"></td>
                        </tr>
                        <tr>
                            <td id="28"></td>
                            <td><input class="form-control text-center" type="number"  id="128" value=""></td>
                            <td id="228"></td>
                        </tr>
                        <tr>
                            <td id="29"></td>
                            <td><input class="form-control text-center" type="number"  id="129" value=""></td>
                            <td id="229"></td>
                        </tr>
                        <tr>
                            <td id="30"></td>
                            <td><input class="form-control text-center" type="number"  id="130" value=""></td>
                            <td id="230"></td>
                        </tr>
                        <tr>
                            <td id="31"></td>
                            <td><input class="form-control text-center" type="number"  id="131" value=""></td>
                            <td id="231"></td>
                        </tr>
                        <tr>
                            <td id="32"></td>
                            <td><input class="form-control text-center" type="number"  id="132" value=""></td>
                            <td id="232"></td>
                        </tr>
                        <tr>
                            <td id="33"></td>
                            <td><input class="form-control text-center" type="number"  id="133" value=""></td>
                            <td id="233"></td>
                        </tr>
                        <tr>
                            <td id="34"></td>
                            <td><input class="form-control text-center" type="number"  id="134" value=""></td>
                            <td id="234"></td>
                        </tr>
                        <tr>
                            <td id="35"></td>
                            <td><input class="form-control text-center" type="number"  id="135" value=""></td>
                            <td id="235"></td>
                        </tr>
                        <tr>
                            <td id="36"></td>
                            <td><input class="form-control text-center" type="number"  id="136" value=""></td>
                            <td id="236"></td>
                        </tr>
                        <tr>
                            <td id="37"></td>
                            <td><input class="form-control text-center" type="number"  id="137" value=""></td>
                            <td id="237"></td>
                        </tr>
                        <tr>
                            <td id="38"></td>
                            <td><input class="form-control text-center" type="number"  id="138" value=""></td>
                            <td id="238"></td>
                        </tr>
                        <tr>
                            <td id="39"></td>
                            <td><input class="form-control text-center" type="number"  id="139" value=""></td>
                            <td id="239"></td>
                        </tr>
                        <tr>
                            <td id="40"></td>
                            <td><input class="form-control text-center" type="number"  id="140" value=""></td>
                            <td id="240"></td>
                        </tr>
                        <tr>
                            <td id="41"></td>
                            <td><input class="form-control text-center" type="number"  id="141" value=""></td>
                            <td id="241"></td>
                        </tr>
                        <tr>
                            <td id="42"></td>
                            <td><input class="form-control text-center" type="number"  id="142" value=""></td>
                            <td id="242"></td>
                        </tr>
                        <tr>
                            <td id="43"></td>
                            <td><input class="form-control text-center" type="number"  id="143" value=""></td>
                            <td id="243"></td>
                        </tr>
                        <tr>
                            <td id="44"></td>
                            <td><input class="form-control text-center" type="number"  id="144" value=""></td>
                            <td id="244"></td>
                        </tr>
                        <tr>
                            <td id="45"></td>
                            <td><input class="form-control text-center" type="number"  id="145" value=""></td>
                            <td id="245"></td>
                        </tr>
                        <tr>
                            <td id="46"></td>
                            <td><input class="form-control text-center" type="number"  id="146" value=""></td>
                            <td id="246"></td>
                        </tr>
                        <tr>
                            <td id="47"></td>
                            <td><input class="form-control text-center" type="number"  id="147" value=""></td>
                            <td id="247"></td>
                        </tr>
                        <tr>
                            <td id="48"></td>
                            <td><input class="form-control text-center" type="number"  id="148" value=""></td>
                            <td id="248"></td>
                        </tr>
                        <tr>
                            <td id="49"></td>
                            <td><input class="form-control text-center" type="number"  id="149" value=""></td>
                            <td id="249"></td>
                        </tr>
                        <tr>
                            <td id="50"></td>
                            <td><input class="form-control text-center" type="number"  id="150" value=""></td>
                            <td id="250"></td>
                        </tr>
                        <tr>
                            <td id="51"></td>
                            <td><input class="form-control text-center" type="number"  id="151" value=""></td>
                            <td id="251"></td>
                        </tr>
                        <tr>
                            <td id="52"></td>
                            <td><input class="form-control text-center" type="number"  id="152" value=""></td>
                            <td id="252"></td>
                        </tr>
                        <tr>
                            <td id="53"></td>
                            <td><input class="form-control text-center" type="number"  id="153" value=""></td>
                            <td id="253"></td>
                        </tr>
                        <tr>
                            <td id="54"></td>
                            <td><input class="form-control text-center" type="number"  id="154" value=""></td>
                            <td id="254"></td>
                        </tr>
                        <tr>
                            <td id="55"></td>
                            <td><input class="form-control text-center" type="number"  id="155" value=""></td>
                            <td id="255"></td>
                        </tr>
                        <tr>
                            <td id="56"></td>
                            <td><input class="form-control text-center" type="number"  id="156" value=""></td>
                            <td id="256"></td>
                        </tr>
                        <tr>
                            <td id="57"></td>
                            <td><input class="form-control text-center" type="number"  id="157" value=""></td>
                            <td id="257"></td>
                        </tr>
                        <tr>
                            <td id="58"></td>
                            <td><input class="form-control text-center" type="number"  id="158" value=""></td>
                            <td id="258"></td>
                        </tr>
                        <tr>
                            <td id="59"></td>
                            <td><input class="form-control text-center" type="number"  id="159" value=""></td>
                            <td id="259"></td>
                        </tr>
                        <tr>
                            <td id="60"></td>
                            <td><input class="form-control text-center" type="number"  id="160" value=""></td>
                            <td id="260"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-2">
                </div>
            </div>
        </div>
        <script src="static/js/zakaz.js"></script>
    </body>
</html>